- provide(:title, 'Profile')
%h1 Profile
.profile
  %h2 Details
  .user_details
    %div
      Name:
      = @user.name
    %div
      Surname: 
      = @user.surname
    %div
      Login:
      = @user.login
    %div
      Email: 
      = @user.email
    %div
      Signed up:
      = @user.created_at.to_date.readable_inspect
  %h3 Recent history
  .user_history

