.container-fluid
  = simple_form_for @project, :html => { :class => 'form-horizontal' } do |f|
    .row-fluid
      .span6
        = f.input :name
        = f.input :description
        = f.input :catalog_creation, wrapper_html: { class: 'checkbox' }
        = f.button :submit, :class => 'btn-primary'
      - unless @project.new_record?
        .span6
          = f.association :groups, collection: @project.groups, as: :check_boxes, label: "Assigned groups:", wrapper_html: { class: 'my-checkboxes' }



