.container-fluid
  %h1= @dicom.name
  .row-fluid
    .span4
      = image_tag(@image)
    .span8
      %table.table{style: "font-size: 20px;"}
        %tbody
          %tr
            %th Full file name:
            %td= @dicom.dicom_file_name
          %tr
            %th File size:
            %td= number_to_human_size(@dicom.dicom_file_size)
          %tr
            %th File uploaded on:
            %td= @dicom.dicom_updated_at
          %tr
            %th Path to the file:
            %td= path_to(@dicom.catalog)

      = link_to "Back to parent catalog", @dicom.catalog, class: 'btn btn-mini'

  .row-fluid
    %h1 Tags
  .row-fluid
    %table.table{ style: "min-width: 1000px;" }
      %tbody
        - @dicom.tags.each do |tag|
          %tr
            %th= tag[0]
            - if tag[1].respond_to?('keys')
              %td
                .items-dropdown.btn ITEMS
              = render partial: 'items', locals: { items: tag[1] }
            - else
              %td= tag[1]


