.navbar.navbar-static
  .navbar-inner
    .container#container
      - if user_signed_in?
        %ul.nav@navigation
          %li.dropdown
            %a.dropdown-toggle#menu@button{:href => "#",:data => {:toggle => "dropdown"}}
              Menu
              %b.caret
            %ul.dropdown-menu@menu{:aria => {"labelledby" => "menu"}}
              %li
                = link_to "Projects", projects_path
              %li
                = link_to "Groups", groups_path
              %li
                = link_to "Catalogs", catalog_path(current_user.root_catalog)
              %li.divider
              %li
                = link_to "Sign out", destroy_user_session_path, method: "delete"
          %li.dropdown
            %a.dropdown-toggle#account@button{:href => "#", :data => {:toggle => "dropdown"}}
              Account
              %b.caret
            %ul.dropdown-menu@menu{:aria => {"labelledby" => "account"}}
              %li
                = link_to "Profile", current_user
              -#%li
                = link_to "History", '#'
              %li
                = link_to "Edit", edit_user_registration_path
              %li
                = link_to "Join a Group", admission_request_messages_path
          - if current_user.admin?
            %li.dropdown
              %a.dropdown-toggle#manage@button{:href => "#",:data => {:toggle => "dropdown"}}
                Manage
                %b.caret
              %ul.dropdown-menu@menu{:aria => {"labelledby" => "menu"}}
                %li
                  = link_to "Accounts", admin_users_path
                %li
                  = link_to "Groups", admin_groups_path
                %li
                  = link_to "Projects", admin_projects_path
      %ul.nav.pull-right
        - unless current_user.nil?
          %li
            = link_to "inbox(#{current_user.inbox(:opened => false).count})", messages_path(:inbox), :id => "inbox-link"
        %li
          = link_to "Home", root_path
        %li
          = link_to "Help", help_path
